.navbar-design 
{
    font-size: 15px;
    margin-top: 10px;

 
}

.navbar-design a:hover
{
   
   color: #eda80e !important;

 
   
 
}
.btn-design
{
   
    border: 1px solid #eda80e  !important;
    font-size: 15px !important;
width:150px;
    
    



 
}

